.options {
  position: absolute;
  left: 0;
  top: 0;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "back  .     ."
    "level level level"
    ".     next  .";
  row-gap: 10px;
  width: 100%;
  min-height: 320px;
  height: 100vh;
  z-index: 1;

  background-image: url("../img/background/cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
}

.options--hidden {
  z-index: -1;
  opacity: 0;
}

.options__level {
  margin-top: 0;
  margin-bottom: 0;
}

.options__button {
  z-index: 2;
}

.options__button--back {
  grid-area: back;
}

.options__button--next {
  grid-area: next;
  justify-self: center;
}
