$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-orange: hsl(22, 100%, 45.5%);
$color-amber: hsl(36, 100%, 50%);
$color-dark-yellow: hsl(41, 100%, 50%);
$color-dark-green: hsl(149, 33.8%, 31.4%);


$desktop-width: 1280px;
$tablet-width: 720px;
